DATABASE_URL=postgresql://user:password@host:port/dbname

SECRET_KEY=ganti_dengan_random_string_minimal_32_karakter

CORS_ORIGINS=https://unibites-frontend.up.railway.app,http://localhost:5173

APP_NAME=UniBites API
APP_VERSION=1.0.0